.app {
    color: darkblue;
    margin-top: 30px;
    text-align: center;
}

.app .app-title span {
    color: brown;
    font-size: 6rem;
}

.app .instructions {
    width: 35vw;
    margin: auto;
    margin-bottom: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 139, 0.6);
    color: #fff;
    border-radius: 20px;
}


.app .btn-start:hover {
border: 2px solid #fff;
}

@media only screen and (max-width: 600px) {

    .app .app-title span {
        font-size: 4rem;
    }
    
    .app .instructions {
        width: 65vw;
        padding: 20px;
    }

  }