.quiz .quiz-title, .question-card h3, .quiz .result .result-title, .result-img, .result-description {
    margin-bottom: 20px;
}

.question-options {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question-card .question-option, .quiz .result .result-description p {
    margin-right: 20px;
    padding: 40px;
    font-size: 25px;
    background-color: rgba(0, 0, 139, 0.6);
    color: #fff;
    border-radius: 20px;
}

.question-card .question-option:hover {
    background-color: rgb(0, 0, 139);
}


.quiz .result .result-img {
   width: 25vw;
   border-radius: 20px;
   margin-right: 10px;
}

.quiz .result .result-description {
    display: flex;
    align-items: center;
    width: 60vw;
    margin: auto;
    text-align: left;
}

.quiz .result .result-description p {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    .question-card .question-option, .quiz .result .result-description p {
        padding: 20px;
        font-size: 12px;
    }

    .quiz .result .result-description {
        flex-direction: column;
        width: 90vw;
        margin-bottom: 20px;
    }

    .quiz .result .result-img {
        width: 90vw;

     }
  }